<footer class="footer">
  <!-- <div> HIIIII</div> -->
  <div class="container">
    <div class="logo">
      <img src="../assets/logos/Huawei.png" alt="Huawei" />
    </div>
    <div class="logo">
      <img src="../assets/logos/CIM.jpg" alt="CIM" />
    </div>
    <div class="logo">
      <img src="../assets/logos/mcgill.png" alt="McGill" />
    </div>
    <div class="logo">
      <img src="../assets/logos/noahsark.png" alt="NoahsArk" />
    </div>
    <div class="logo">
      <img src="../assets/logos/CERC-DSM.png" alt="CERCDSM" />
    </div>

  </div>
</footer>